$whiteKeyWidth: 75;

.box {
  position: relative;
}

.Piano {
  &__keyboard {
    justify-content: center;
    border-top: 2px solid black;
    overflow: hidden;
    display: flex;
    position: relative;
  }

  &__white-key {
    display: block;
    position: relative;
    width: #{$whiteKeyWidth}px;
    height: 264px;
    flex-shrink: 0;
    border-radius: 0 0 4px 4px;
    background: white;
    top: 0;
    margin-right: 4px;
    cursor: pointer;
    transition: all 0.05s ease;
    opacity: 1;
    transform: translate(0, -3px);
    user-select: none;

    &--pressed {
      opacity: 0.7;
      transform: translate(0, 0);
    }
  }

  &__key-label {
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    color: #555555;
    text-transform: uppercase;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
  }

  &__black-key {
    display: inline-block;
    border-radius: 0 0 8px 8px;
    position: absolute;
    z-index: 1;
    flex-shrink: 0;
    top: 0;
    height: 156px;
    width: 38px;
    background: #303030;
    transform: translate(calc(-50% - 2px), -3px);
    transition: all 0.05s ease;
    cursor: pointer;

    &::before {
      content: "";
      background: #4a4a4a;
      display: block;
      margin: 0 auto;
      width: calc(100% - 12px);
      height: calc(100% - 34px);
      border-radius: 0 0 4px 4px;
      opacity: 1;
      transform: translateY(-3px);
      transition: all 0.05s ease;
    }

    &--pressed {
      transform: translate(calc(-50% - 2px), 0);

      &::before {
        opacity: 0;
        transform: translateY(0);
      }
    }

    & .Piano__key-label {
      bottom: 12px;
      color: white;
    }
  }
}
